@{
    ViewData["Title"] = "Outros Produtos";
}
<div class="text-center text-white py-5">
    <h1 class="display-4 fw-bold mb-4">Periféricos & Acessórios</h1>
    <p class="lead mb-5">Expanda a sua funcionalidade com os nossos addons.</p>

    <div class="row g-4">
        <div class="col-md-6">
            <div class="d-flex align-items-center bg-dark p-3 rounded">
                <i class="fa-solid fa-shirt fa-3x text-white me-4"></i>
                <div class="text-start">
                    <h4 class="text-white">T-Shirt "I am Root"</h4>
                    <p class="text-muted mb-0">Mostre quem manda no sistema (ou em casa).</p>
                </div>
                <div class="ms-auto text-primary fw-bold">25€</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex align-items-center bg-dark p-3 rounded">
                <i class="fa-solid fa-mug-hot fa-3x text-white me-4"></i>
                <div class="text-start">
                    <h4 class="text-white">Caneca Java</h4>
                    <p class="text-muted mb-0">Literalmente. Para beber café enquanto programa/vê filmes.</p>
                </div>
                <div class="ms-auto text-primary fw-bold">15€</div>
            </div>
        </div>
    </div>
</div>
