@{
    ViewData["Title"] = "Cinema";
}


<div class="text-center mt-20">
    <h1 class="text-4xl font-bold mb-4 text-gray-700">Bem-vindo ao Cinema</h1>
    <p class="text-gray-600 text-lg mb-6">Consulta filmes, sessões e faz reservas facilmente.</p>
</div>
